.carousel_image {
  max-width: 500px;
  max-height: 500px;
}

.register_page {
  max-width: 500px;
  margin: auto;
}

.profile_page {
  max-width: 1000px;
  margin: auto;
}

.edit_profile_page {
  max-width: 800px;
  margin: auto;
}

.employees_page {
  max-width: 700px;
  margin: auto;
}

.register_student_page {
  max-width: 900px;
  margin: auto;
}

.register_employee_page {
  max-width: 1000px;
  margin: auto;
}
